//
// team.scss
//
.team-content {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    .detail {
        .name {
            font-size: 17px;
            transition: all 0.5s ease;
            &:hover {
                color: $primary !important;
            }
        }
        .posting {
            font-size: 13px;
        }
    }
    .team-social {
        position: absolute;
        top: 10px;
        left: 10px;
        opacity: 0;
        transition: all 0.5s ease;
    }
    &:hover {            
        margin-top: -5px;
        box-shadow: $shadow;
        .team-social {
            opacity: 1;
        }
    }
}