//
// variables.scss
//

@import url("https://fonts.googleapis.com/css?family=Roboto|Montserrat:400,500,600,700&display=swap");

// Color variables
$white: #ffffff;

$primary: #00bcd4;
$secondary: #f5f5f5;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$dark: #272727;
$muted: #707070;
$light: #f8f9fa;

//Gray Color
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;

//Custom
$primary: #00bcd4;
$body-color: #535353;
//Overlay
$overlay: #000000;
//Shadow
$shadow: 0 0 5px rgba($dark, 0.15);

// Base font
$font-size-base: 15px;

$font-family-base: "Montserrat", sans-serif;
$font-family-secondary: "Roboto", sans-serif;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "danger": $danger,
  "dark": $dark,
  "muted": $muted,
  "custom": $primary,
);

$font-sizes: (
  h1: 42px,
  h2: 36px,
  h3: 30px,
  h4: 24px,
  h5: 18px,
  h6: 14px,
);
